body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


h4.book-details.horror{
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
}

div.container.body-content {
    background-image: url('../Images/silhouette-1632912__340.jpg');
    width: 100%;
    height: auto;
    background-position: center center;
    background-size: cover;
}

h2 {
    color: #ffff00;
    font-weight:bold;
}

p.title {
    font-size: 2vw;
}

p.back {
    color: #000000;
}

a {
    color:#ffff00;
    font-weight:bold;

}

label.control-label.col-md-2 {
    color:#ffff00;
}